Package: de.j-gessner.openinprotube2
Name: Open in ProTube 2
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak!
Author: Jonas Gessner
Section: Tweaks
